html, body{
  width: 100%;
  top: 0px;
  scroll-behavior: smooth;
  margin-left: 0px;
  background-color: black;
  overflow-x: hidden;
  }
  
  .content{
    position: absolute;
    font-weight: 100;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(144, 143, 143);
    width: 100%;
    left: 0%;
    filter: brightness(0);
    top: 0%;
    margin-top: 0%;
  }
  
  .container-image-gap{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #navbar{
    position: fixed;
    width: 90%;
    background: linear-gradient(0deg, rgb(252, 223, 193, 0.8), rgb(193, 124, 53, 0.8));
    filter: opacity(0);
    top: 0px;
    left: 0px;
    z-index: 2;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  #button-menu{
    position: relative;
    left: 29%;
    font-size: 2.5vmax;
    text-align: center;
    color: white;
    width: 380px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
    background: linear-gradient(45deg, rgb(252, 223, 193), rgb(193, 124, 53));
    transition: 0.5s;
  }
  
  #button-menu:active{
    margin-top: 55px;
    transition: 0.2s;
  }
  
  a{
    text-decoration: none;
    color: white;
  }
  
  #meals{
    position: relative;
    font-size: 50px;
    transition: 1.3s;
    padding-bottom: 200px;
    color: rgb(70, 69, 69);
  }
  
  #list-beginning{
    position: relative;
    font-size: 50px;
    list-style: none;
    padding-top: 50px;
    color: rgb(70, 69, 69);
    margin-right: 100px;
  }
  
  #meals>li{
    font-size: 42px;
    padding-bottom: 50px;
    list-style: none;
    margin-right: 50px;
  }

  .container{
    border: inset 5vmax rgb(119, 60, 26);
    position: relative;
    background-color: rgb(255, 245, 235);
    height: auto;
    padding-bottom: 100px;
  }
  
  #navbar{
    position: absolute;
    background: none;
    background-color: rgba(0, 0, 0, 0.4);
    height: 13vmin;
    box-shadow: 0px 0px 0px rgb(228, 149, 2);
    transition: 1s;
  }
  
  #navbar:hover{
    background: none;
    background-color: rgba(0, 0, 0, 1);
    transition: 1.5s;
  }
  
  #image1{
    position: relative;
    height: 1080px;
    width: 100%;
    background-size: cover;
    background-image: url(background1d.jpg);
    z-index: 2;
    animation: 15s fadeOut forwards infinite;
    animation-delay: 5s;
  }

  @keyframes fadeOut{
    0% {filter: opacity(1);}
    33% {filter: opacity(0);}
    66% {filter: opacity(0);}
    100% {filter: opacity(1);}
  }

  #image1b{
    position: absolute;
    height: 1080px;
    width: 100%;
    top: 0px;
    filter: opacity(1);
    background-size: cover;
    background-image: url(background1b.jpg);
    background-color: rgb(190, 0, 0);
    animation: 15s fadeOut forwards infinite;
    animation-delay: 10s;
    z-index: 1;
  }

  #image1c{
    position: absolute;
    height: 1080px;
    width: 100%;
    top: 0px;
    filter: opacity(1);
    background-size: cover;
    background-image: url(background1c.jpg);
    background-color: rgb(190, 0, 0);
    animation: 15s fadeOut forwards infinite;
    animation-delay: 15s;
    z-index: 0;
  }
  
  #desktop-navbar-elements{
    position: absolute;
    font-size: 1.2vmax;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    bottom: 1%;
    z-index: 3;
    width: 100%;
    display: block;
    color: white;
  }
  
  #desktop-navbar-elements li{
    display: inline;
  }
  
  #logo-desktop{
    font-weight: 100;
    font-size: 2vmax;
    letter-spacing: 2px;
    padding: 15px;
    font-weight: 400;
    margin-left: 10%;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 12px black;
    cursor: default;
    display: block;
  }
  
  #logo-image{
    position: relative;
    width: 3%;
    top: 10px;
    right: 15px;
    animation: 20s rotateLogo infinite;
  }

  @keyframes rotateLogo{
    0% {transform: rotateY(0deg);}
    40% {transform: rotateY(0deg);}
    50% {transform: rotateY(180deg);}
    90% {transform: rotateY(180deg);}
    100% {transform: rotateY(0deg);}
  }
  
  .header{
    position: relative;
    font-size: 3vmax;
    color: rgb(158, 0, 0);
    text-align: center;
    width: 25%;
    top: 120px;
    border-bottom: 1px solid rgb(158, 0, 0);
  }
  
  .header-top{
    top: 0px;
    margin-top: 100px;
  }
  
  #header-contact{
    position: relative;
    font-size: 3vmax;
    color: rgb(158, 0, 0);
    width: 30%;
    left: 35%;
    text-align: center;
    margin-bottom: 110px;
    margin-top: 100px;
    border-bottom: 1px solid rgb(158, 0, 0);
  }
  
  
  .footer{
    font-size: 1.3vmax;
    width: 40%;
    position: relative;
    text-align: justify;
    color: rgb(74, 74, 74);
    margin-left: 4%;
    margin-right: 0;
    top: 180px;
    line-height: 200%;
  }
  
  .footer-top{
    top: 0px;
    margin-top: 100px;
    padding-bottom: 600px;
  }
  
  #photo1{
    position: relative;
    width: 45%;
    left: 50%;
    outline: inset rgb(252, 223, 193) 10px;
    margin-top: 0px;
    margin-bottom: 40px;
    transform: scale(0.9);
  }

#photo1:hover{
  transform: scale(1);
}
  
  #photo2{
    position: absolute;
    width: 45%;
    left: 50%;
    outline: inset rgb(252, 223, 193) 10px;
    padding: 0px;
    top: 0px;
    margin-top: 200px;
    transform: scale(0.9);
  }

  #photo2:hover{
    transform: scale(1);
  }
  
  #about-desktop{
    position: relative;
    border-bottom: 0px inset rgb(0, 0, 0);
    cursor: default;
    margin-left: 30%;
  }
  
  #about-desktop:hover{
    border-bottom: 3px inset rgb(187, 148, 108);
  }
  
  #menu-desktop{
    border-bottom: 0px inset rgb(0, 0, 0);
    margin-left: 3%;
  }
  
  #menu-desktop:hover{
    border-bottom: 3px inset rgb(187, 148, 108);
  }
  
  #contact-desktop{
    border-bottom: 0px inset rgb(0, 0, 0);
    margin-left: 3%;
  }
  
  #contact-desktop:hover{
    border-bottom: 3px inset rgb(187, 148, 108);
  }
  
  #photo3{
    position: relative;
    width: 60%;
    margin-bottom: 50px;
    margin-top: 120px;
    left: 22%;
    padding: 0px;
    transition: 1.5s;
    outline: inset rgb(252, 223, 193) 10px;
    transform: scale(0.9);
  }

  #photo3:hover{
    transform: scale(1);
  }

  #photo4{
    position: relative;
    width: 40%;
    float: left;
    left: 10%;
    outline: inset rgb(252, 223, 193) 10px;
    transition: 1.5s;
    transform: scale(0.9);
  }

  #photo4:hover{
    transform: scale(1);
  }
  
  
  #meals>li{
    position: relative;
    font-size: 1.2vmax;
    padding-bottom: 50px;
    list-style: none;
    margin-right: 50px;
    left: 5%;
    width: 70%;
  }
  
  #list-beginning{
    position: relative;
    font-size: 1.4vmax;
    list-style: none;
    padding-top: 50px;
    color: rgb(70, 69, 69);
  }
  
  .alt-header{
    position: relative;
    font-size: 50px;
    color: rgb(158, 0, 0);
    text-align: center;
    border-bottom: 1px solid rgb(158, 0, 0);
    left: 0%;
    width: 30%;
    margin-top: 50px;
  }
  
  
  #image2{
    position: relative;
    background-color: gray;
    background-image: url(background2.jpg);
    background-size: cover;
    height: 90vmin;
  }
  
  #image3{
    background-image: url(background3.jpg);
    background-size: cover;
    height: 90vmin;
  }
  
  #image4{
    background-image: url(background4.jpg);
    background-size: cover;
    height: 90vmin;
  }
  
  #button-menu{
    position: absolute;
    left: 14%;
    font-size: 1.4vmax;
    text-align: center;
    color: white;
    width: 12%;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
    top: 470px;
    border: outset 7px rgb(252, 223, 193);
  }
  
  #map{
    position: relative;
    width: 50%;
    margin-top: 200px;
    margin-left: 25%;
    margin-right: 25%;
    border: ridge rgb(252, 223, 193) 10px;
    transition: 1.5s;
  }
  
  #map-subtitle{
    font-size: 1.2vmax;
    color: rgb(74, 74, 74);
    margin-top: 20px;
  }
  
  
  #nightday-mode{
    position: absolute;
    z-index: 5;
    top: 50px;
    margin-top: 8%;
    right: 5%;
    transform: rotate(0deg);
    display: block;
    width: 3%;
    filter: saturate(0) opacity(0.5);
    transition: 1s;
  }
  
  #photo1small{
    position: relative;
    width: 40%;
    left: 5%;
    top: 1vmin;
    outline: inset rgb(252, 223, 193) 10px;
    transition: 1.5s;
    display: block;
    transform: scale(0.9);
  }

  #photo1small:hover{
    transform: scale(1);
  }
  
  #photo2small{
    position: relative;
    width: 40%;
    left: 25%;
    top: 6vmin;
    outline: inset rgb(252, 223, 193) 10px;
    transition: 1.5s;
    display: block;
    transform: scale(0.9);
  }

  #photo2small:hover{
    transform: scale(1);
  }
  
  #photo3small{
    position: relative;
    width: 40%;
    left: 45%;
    top: 11vmin;
    outline: inset rgb(252, 223, 193) 10px;
    transition: 1.5s;
    display: block;
    transform: scale(0.9);
  }

  #photo3small:hover{
    transform: scale(1);
  }

  .open-hours{
    border-bottom: 2px inset rgb(189, 85, 0);
    width: 10vmax;
    margin-bottom: 10px;
  }
  
  .brown-font{
    color:rgb(189, 85, 0);
  }

  #contact-list{
    width: 40%;
    float: right;
  }
  
  #contact-list>li{
    position: relative;
    list-style: none;
    font-size: 1.2vmax;
    line-height: 30px;
  }
  