body, html{
    width: 100%;
    top: 0px;
    margin-left: 0px;
    background-color: black;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  .content{
    position: absolute;
    font-weight: 100;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(74, 74, 74);
    width: 100%;
    left: 0%;
    top: 0%;
    margin-top: 0%;
    filter: brightness(0);
  }

  
.container{
  background-color: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  border: inset 5vmax rgb(119, 60, 26);
}

  #navbar{
    position: absolute;
    background: none;
    background-color: rgba(0, 0, 0, 0.4);
    height: 13vmin;
    width: 90%;
    box-shadow: 0px 0px 50px 0px black;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 2px solid rgb(230, 230, 230);
    transition: 2s;
  }

  #navbar:hover{
    background: none;
    background-color: rgba(0, 0, 0, 1);
    transition: 1.5s;
  }

  a{
    text-decoration: none;
    color: white;
  }

  #image1{
    position: relative;
    height: 1080px;
    width: 100%;
    background-size: cover;
    background-image: url(background1.jpg);
    z-index: 2;
    animation: 15s fadeOut forwards infinite;
    animation-delay: 5s;
  }

  @keyframes fadeOut{
    0% {filter: opacity(1);}
    33% {filter: opacity(0);}
    66% {filter: opacity(0);}
    100% {filter: opacity(1);}
  }

  #image1b{
    position: absolute;
    height: 1080px;
    width: 100%;
    top: 0px;
    filter: opacity(1);
    background-size: cover;
    background-image: url(background1b.jpg);
    background-color: rgb(190, 0, 0);
    animation: 15s fadeOut forwards infinite;
    animation-delay: 10s;
    z-index: 1;
  }

  #image1c{
    position: absolute;
    height: 1080px;
    width: 100%;
    top: 0px;
    filter: opacity(1);
    background-size: cover;
    background-image: url(background1c.jpg);
    background-color: rgb(190, 0, 0);
    animation: 15s fadeOut forwards infinite;
    animation-delay: 15s;
    z-index: 0;
  }

  .restaurant{
    position: absolute;
    left: 2%;
    font-weight: 100;
    transform: translate(0%, 0%);
    white-space:nowrap;
    animation: 2s restaurantAnim forwards;
    animation-delay: 0.7s;
    filter: opacity(0);
    display: none;
  }

  #restaurant-title{
    top: 75px;
    color: rgb(255, 0, 0);
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    letter-spacing: 1px;
    z-index: 4;
  }


  #restaurant-name{
    top: 00px;
    color: white;
    font-size: 60px;
    text-shadow: 4px 4px 20px rgba(0,0,0,1);
    background-color: rgba(0, 0, 0, 0.6);
    letter-spacing: 3px;
    z-index: 4;
  }

  #desktop-navbar-elements{
    position: absolute;
    font-size: 1.2vmax;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    z-index: 3;
    width: 90%;
    bottom: 5%;
    display: block;
    color: white;
    margin: 0;
    padding: 0;
  }

  #desktop-navbar-elements li{
    display: inline;
  }

  #logo-desktop{
    position: relative;
    font-weight: 100;
    font-size: 2vmax;
    letter-spacing: 2px;
    padding: 15px;
    font-weight: 400;
    margin-left: 10%;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 12px black;
    cursor: default;
    display: block;
  }
  
  #logo-image{
    position: relative;
    width: 3%;
    top: 10px;
    right: 15px;
    animation: 20s rotateLogo infinite;
  }

  @keyframes rotateLogo{
    0% {transform: rotateY(0deg);}
    40% {transform: rotateY(0deg);}
    50% {transform: rotateY(180deg);}
    90% {transform: rotateY(180deg);}
    100% {transform: rotateY(0deg);}
  }

  .header{
    position: relative;
    font-size: 50px;
    color: rgb(158, 0, 0);
    text-align: center;
    width: 50%;
    top: 480px;
  }

  .footer{
    font-size: 24px;
    width: 40%;
    position: relative;
    text-align: justify;
    color: rgb(74, 74, 74);
    margin-left: 4%;
    margin-right: 0;
    top: 530px;
    line-height: 200%;
  }

  .photo1{
    position: relative;
    width: 45%;
    margin-left: 27.5%;
    margin-right: 27.5%;
    margin-top: 5%;
    border: inset rgb(252, 223, 193) 10px;
    top: -20px;
    left: 0%;
  }

  .photo2{
    position: relative;
    width: 45%;
    margin-left: 27.5%;
    margin-right: 27.5%;
    margin-top: 5%;
    border: inset rgb(252, 223, 193) 10px;
    top: -20px;
    left: 0%;
  }

  #about-desktop{
    position: relative;
    border-bottom: 0px inset rgb(0, 0, 0);
    cursor: default;
    margin-left: 30%;
    padding-bottom: 20px;
    transition: 0.5s;
  }
  
  #about-desktop:hover{
    border-bottom: 3px inset rgb(187, 148, 108);
    padding-bottom: 0px;
    transition: 0.5s;
  }
  
  #menu-desktop{
    border-bottom: 0px inset rgb(0, 0, 0);
    margin-left: 3%;
    padding-bottom: 20px;
    transition: 0.5s;
  }
  
  #menu-desktop:hover{
    border-bottom: 3px inset rgb(187, 148, 108);
    padding-bottom: 0px;
    transition: 0.5s;
  }
  
  #contact-desktop{
    border-bottom: 0px inset rgb(0, 0, 0);
    margin-left: 3%;
    padding-bottom: 20px;
    transition: 0.5s;
  }
  
  #contact-desktop:hover{
    border-bottom: 3px inset rgb(187, 148, 108);
    padding-bottom: 0px;
    transition: 0.5s;
  }

  #photo3{
    position: relative;
    width: 60%;
    margin-bottom: 50px;
    margin-top: 20px;
    left: 20%;
    padding: 0px;
    transition: 1.5s;
    border: inset rgb(252, 223, 193) 10px;
  }

  #meals>li{
    font-size: 30px;
    color: rgb(70, 69, 69);
    padding-bottom: 50px;
    list-style: none;
    margin-right: 50px;
    left: 100px;
  }

  #list-beginning{
    position: relative;
    left: 40px;
    font-size: 40px;
    list-style: none;
    padding-top: 50px;
    color: rgb(70, 69, 69);
    margin-right: 100px;
  }

  .transparent-header{
    position: relative;
    font-size: 50px;
    color: rgb(158, 0, 0);
    left: 70px;
    text-align: left;
    border-bottom: 2px inset rgb(158, 0, 0);
    width: 800px;
  }

  #image2{
    position: relative;
    background-color: gray;
    background-image: url(background2.jpg);
    background-size: cover;
    height: 900px;
    border: none;
  }

  #image4{
    height: 900px;
  }

  #image4{
    height: 900px;
  }

  #button-menu1{
    position: absolute;
    left: 30%;
    font-size: 1.4vmax;
    text-align: center;
    color: white;
    width: 12%;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
    top: 600px;
    display: inline-block;
    background: linear-gradient(45deg, rgb(252, 223, 193), rgb(193, 124, 53));
    transition: 1s;
    box-shadow: 10px 5px 20px 0px black;
    border: outset 7px rgb(252, 223, 193);
    z-index: 3;
    filter:saturate(0.0);
  }

  #button-menu1:active{
    margin-top: 5px;
    box-shadow: 10px 5px 10px 0px black;
    transition: 0.2s;
  }

  #button-menu1:hover{
    filter:saturate(1);
  }

  #button-menu2{
    position: absolute;
    right: 30%;
    font-size: 2.5vmax;
    text-align: center;
    font-size: 1.4vmax;
    color: white;
    width: 12%;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
    top: 600px;
    display: inline-block;
    background: linear-gradient(45deg, rgb(252, 223, 193), rgb(193, 124, 53));
    transition: 1s;
    box-shadow: 10px 5px 20px 0px black;
    border: outset 7px rgb(252, 223, 193);
    z-index: 3;
    filter:saturate(0.0);
  }

  #button-menu2:active{
    margin-top: 5px;
    box-shadow: 10px 5px 10px 0px black;
    transition: 0.2s;
  }

  #button-menu2:hover{
    filter:saturate(1);
  }

  .reservation{
    top: 0px;
  }

  #map{
    position: relative;
    left: 50%;
    top: 150px;
    width: 50%;
    object-fit: cover;
    border: inset rgb(252, 223, 193) 10px;
  }

  #map-subtitle{
    font-size: 24px;
    left: 4%;
  }

  .menu-header{
    position: relative;
    top: 0px;
    width: 700px;
    font-size: 3vmax;
    padding-bottom: 80px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  #menu-item{
    position: relative;
    padding-bottom: 25px;
    font-size: 1.3vmax;
    width: 60%;
    left: 20%;
  }

  #nightday-mode{
    position: absolute;
    z-index: 5;
    top: 50px;
    margin-top: 8%;
    right: 5%;
    transform: rotate(0deg);
    display: block;
    width: 3%;
    filter: saturate(0) opacity(0.5);
    transition: 1s;
  }

#menu-logo1{
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-bottom: 150px;
  width: 128px;
}

#menu-logo2{
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-bottom: 150px;
  width: 128px;
}

#container1{
  position: relative;
  background-color: rgb(255, 245, 235);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  box-shadow: 0px -21px 50px 0px rgba(0,0,0,1);
}

#container2{  
  position: relative;
  background-color: rgb(255, 245, 235);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  padding-top: 100px;
  padding-bottom: 200px;
}

#container3{  
  position: relative;
  background-color: rgb(255, 245, 235);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  padding-top: 100px;
  padding-bottom: 200px;
}

#left{
  display: inline-block;
  border-bottom: 1px rgb(179, 179, 179) inset;
  width: 85%;
}

#right{
   float: right;
   margin-right: 10px;
   color: rgb(233, 169, 0);
}

#menu-list{
  list-style: none;
}

#menu-collapse-icon{
  position: relative;
  display: block;
  float: right;
  width: 6vmin;
  margin-right: 1%;
  margin-top: 0.5%;
  padding: 10px;
  background-color: rgba(187, 148, 108, 0.0);
  border: 2px solid rgba(187, 148, 108, 1);
  transition: 1s;
}

#menu-collapse-icon:hover{
 background-color: rgba(187, 148, 108, 1);
}

#menu-collapse-icon-close{
  position: relative;
  display: block;
  clear: both;
  float: right;
  width: 6vmin;
  margin-right: 5%;
  margin-top: 5%;
  padding: 10px;
  background-color: rgba(187, 148, 108, 0.0);
  border: 2px solid rgba(187, 148, 108, 1);
  transition: 1s;
}

#menu-collapse-icon-close:hover{
  background-color: rgba(187, 148, 108, 1);
}

#menu-collapse{
  position: absolute;
  display: block;
  right: 0px;
  top: 0px;
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 20vmin;
  height: 45vmin;
  filter: opacity(0);
  visibility: hidden;
  transition: 0.6s;
  line-height: 8vmin;
  z-index: 2;
}

#menu-collapse ul{
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 100px;
  margin-left: 5%;
  width: 90%;
}

#menu-collapse li{
  border-bottom: solid 1px rgb(189, 189, 189);
}

@media (max-device-width:600px)  {

  .container{
    border: inset 2vmax rgb(119, 60, 26);
  }
  
  #navbar{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    height: 18vmin;
  }
  
  #desktop-navbar-elements{
    width: 80%;
  }
  
  .header{
    font-size: 6vmax;
    width: 50%;
  }
  
  .alt-header{
    font-size: 6vmax;
    width: 50%;
  }
  
  #header-contact{
    font-size: 6vmax;
    width: 50%;
  }
  
  .footer{
      font-size: 2.5vmax;
      width: 90%;
      float: none;
  }
  
  .footer-top{
    float: none;
  }
  
  #footer-list>li{
    position: relative;
    font-size: 2.5vmax;
    padding-bottom: 50px;
    list-style: none;
    margin-right: 50px;
    left: 5%;
    width: 90%;
  }
  
  .photo1{
    width: 90%;
    float: none;
    margin-left: 5%;
    margin-right: 5%;
    transform: scale(1);
  }
  
  .photo2{
    width: 90%;
    float: none;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    transform: scale(1);
  }
  
  .photo3{
    width: 90%;
    float: none;
    margin-left: 5%;
    margin-right: 5%;
    transform: scale(1);
  }
  
  #photo4{
    width: 90%;
    float: none;
    margin-left: 5%;
    margin-right: 5%;
    transform: scale(1);
  }
  
  #logo-desktop{
    font-size: 5vmax;
    font-weight: 400;
    margin-left: 12%;
    top: 20px;
  }
  
  #logo-image{
    position: relative;
    width: 10%;
  }
  
  #image1, #image1b, #image1c, #image2, #image3, #image4{
    height: 100vmax;
  }
  
  #about-desktop, #menu-desktop, #contact-desktop{
    visibility: hidden;
  }
  
  #menu-collapse{
    top: 18vmin;
    width: 60vmin;
    height: 110vmin;
    font-size: 4vmax;
    line-height: 20vmin;
  }
  
  #menu-collapse ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 15vmax;
    margin-left: 10%;
    width: 90%;
  }
  
  #menu-collapse li{
    border-bottom: solid 1px rgb(189, 189, 189);
  }
  
  #menu-collapse-icon{
    width: 12vmin;
  }
  
  #menu-collapse-icon-close{
    width: 12vmin;
  }
  
  #nightday-mode{
    position: absolute;
    z-index: 5;
    top: 50px;
    margin-top: 15%;
    right: 1%;
    transform: rotate(0deg);
    display: block;
    width: 10%;
    filter: saturate(0) opacity(0.5);
    transition: 1s;
  }

  #button-menu1{
    position: absolute;
    left: 15%;
    font-size: 2.5vmax;
    text-align: center;
    font-size: 4vmax;
    color: white;
    width: 25%;
    top: 80vmax;
    float: left;
  }

  #button-menu2{
    position: absolute;
    right: 15%;
    font-size: 2.5vmax;
    text-align: center;
    font-size: 4vmax;
    color: white;
    width: 25%;
    top: 80vmax;
    float: right;
  }

  .menu-header{
    position: relative;
    top: 0px;
    width: 700px;
    font-size: 6vmax;
    padding-bottom: 80px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  #menu-item{
    position: relative;
    padding-bottom: 25px;
    font-size: 3.2vmax;
    width: 100%;
    left: 0%;
  }

}